{% extends 'base/login_base.html' %}

{#表单登陆#}
{% block main %}
 <dt>
  <strong>{{ title | default('管理员登陆') }}</strong>
  <em>{{ subheading | default('Management system') }}</em>
 </dt>
 <dd class="user_icon">
  <input type="text" name="username" id="username" placeholder="账号" class="login_txtbx"/>
 </dd>
 <dd class="pwd_icon">
  <input type="password" name="password" id="password" placeholder="密码" class="login_txtbx"/>
 </dd>
 <dd class="val_icon">
  <div class="checkcode">
    <input type="text" id="checkcode" name="checkcode" placeholder="验证码" maxlength="4" class="login_txtbx">
    <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
  </div>
 </dd>
 <dd>
  <input type="button" name="submit" id="submit" value="立即登陆" class="submit_btn"/>
 </dd>
 <dd>
  <p><a href="{{ url_for('admin.forget') }}" style="color: #f4f4f4;">忘记密码?</a></p>
 </dd>
{% endblock %}

{#CopyWrite信息#}
{% block copywrite %}
{% endblock %}

{% block body_script %}
<script>
$(document).ready(function() {
    createCode();
    //粒子背景特效
    $('body').particleground({
        dotColor: '#5cbdaa',
        lineColor: '#5cbdaa'
    });

    {#发送表单请求#}
    $('#submit').on('click', function () {
        var username = $('#username').val();
        var password = $('#password').val();
        var checkcode = $('#checkcode').val();

        $.ajax({
            type: "POST",
            url: "/admin/login",
            dataType: 'json',
            data: {
                "username": username,
                "password": password,
                "checkcode": checkcode
            },
            success: function (e) {
                if (e.code === 200) {
                    window.location.href = '/';
                } else {
                    createCode()
                    alert(e.msg);
                }
            }
        })
    })
})
</script>
{% endblock %}
