<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>{{ title | default('管理员登陆') }}</title>

{#引入 JS CSS 静态脚本文件#}
{%  block head_link  %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/css/style.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/verificationNumbers.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/Particleground.js') }}"></script>
{% endblock %}

{#背景颜色#}
<style>
    body {
        height: 100%;
        background: #16a085;
        overflow: hidden;
    }
    canvas {
        z-index:-1;
        position:absolute;
    }
</style>

</head>
<body>
<dl class="admin_login">
{% block main %}
 <dt>
  <strong>{{ title | default('管理员登陆') }}</strong>
  <em>{{ subheading | default('Management system') }}</em>
 </dt>
 <dd class="user_icon">
  <input type="text" placeholder="账号" class="login_txtbx"/>
 </dd>
 <dd class="pwd_icon">
  <input type="password" placeholder="密码" class="login_txtbx"/>
 </dd>
 <dd class="val_icon">
  <div class="checkcode">
    <input type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_txtbx">
    <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
  </div>
  <input type="button" value="验证码核验" class="ver_btn" onClick="validate();">
 </dd>
 <dd>
  <input type="button" value="立即登陆" class="submit_btn"/>
 </dd>
{% endblock %}

{% block copywrite %}
 <dd>
  <p>© xxxx 版权所有</p>
  <p>备案号: xxxxxx</p>
 </dd>
{% endblock %}
</dl>
</body>

{#JS脚本#}
{% block body_script %}
{% endblock %}
</html>
